.App, .login-page {
  height: 100%;
}

.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box{
  width: 300px;
  padding-top: 100px;
}

.tickets-table .label{
  display: block;
}
